[submodule "server"]
	path = server
	url = https://github.com/wooportal/server-next
[submodule "specs"]
	path = specs
	url = https://github.com/wooportal/specs
[submodule "client"]
	path = client
	url = https://github.com/wooportal/client-next
